{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}

<!--Body-->
{% for field in form.visible_fields %}
  {% if field.field.widget.input_type  == 'checkbox' %}
    <div class="form-check mt-3">
        <label class="custom-checkbox-container" for="{{ field.id_for_label }}">
          {{ field.label }}
          {{ field }}
          <span class="checkmark"></span>
        </label>

        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
  {% else %}
    <div class="form-group mb-0">
      {% if not no_label %}
      <label for="{{ field.id_for_label }}" class="">{{ field.label }}</label>
      {% endif %}
      
      <div class="input-group input-group-lg mb-2">
          <div class="input-group-prepend">
            {% for key, value in form.icons.items %}
                {% if field.name == key %}
                  <span class="input-group-text bg-transparent border-right-0"><i class="{{ value }} fa-lg px-2"></i></span>
                {% endif %}
            {% endfor %}
            </div>
          {{ field|add_class:'form-control font-size-1-rem border-left-0 pl-1 font-size-small' }}
      </div>
   
      {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>
  {% endif%}
{% endfor %}

{% include "partials/form_errors.html" with form=form %}