// vars
$fb-color: #3C5799;
$google-color: #4C7EDE;

// styles

.bg-image {
    position: relative;
    height: 100%;
    background-color: #000;

    &:before {
        display: block;
        content: '\0020';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/sovetov.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .3;
    }
}

.color-fb {
    color: $fb-color;
}

.color-google {
    color: $google-color;
}