{% extends "account/base.html" %}

{% load i18n widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block row_content %}
<div class="col-lg-5 col-md-6 mx-auto">
{# Form with header #}
  <div class="card my-3">
      <div class="card-body mx-2">
          <h6 class="text-uppercase text-center mb-3 mt-2">
              <span class="font-weight-medium">{% trans "Sign Up with" %}</span>
          </h6>
          {% include "account/_social_login.html" %}
          <form class="" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}

            {% include "partials/form_fields.html" with no_label=True %}

            <p class="text-muted small m-0 py-2">
              By signing up, I agree to the PlacePass <a href="#termsModal" data-toggle="modal">Terms of Service</a> and <a href="#privacyModal" data-toggle="modal">Privacy Policy</a>.
            </p>

            <div class="text-center pt-2 pb-4">
                <button type="submit" class="btn btn-success btn-lg btn-block text-uppercase py-3"><small class="font-weight-medium">{% trans "Register" %}</small></button>
            </div>

            <div class="d-flex justify-content-between align-items-center pb-2">
              <span class="font-weight-medium">{% trans "Already have an account?" %}</span>
              <a href="{{ login_url }}" class="btn btn-outline-info text-uppercase font-weight-medium px-5">{% trans "Log in" %}</a>
            </div>

          </form>

      </div>

  </div>
{# /Form with header #}
</div>
{% endblock %}

{% block modals %}


<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privacyModalTitle">Privacy Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% lorem 6 p %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  

<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsModalTitle">Terms of Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% lorem 6 p %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock modals %}