{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="{% block seo_description %}{% endblock seo_description %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        {% block extra_css %}{% endblock %}

        {% block extra_head %}{% endblock extra_head %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block base_content %}
            
            <main>
                {% block content %}{% endblock %}
            </main>

        {% endblock base_content %}

        {% block base_js %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% static 'vendor/bootstrap-4.4.1/js/bootstrap.bundle.min.js' %}"></script>
        {% endblock base_js %}
        
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
